In [1]:
import pandas as pd

df = pd.read_csv("spam.csv",encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [2]:
x=df.iloc[:,0]
x

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object

In [3]:
y=df.iloc[:,1]
y

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [4]:
df=pd.concat([x,y],axis=1)
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
df.rename(columns={"v1":"category","v2":"message"},inplace=True)
df.head()

  category                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.isnull().sum()
df.shape

y=pd.get_dummies(df["category"])
y=y.iloc[:,1].values
print(y)

[0 0 1 ... 0 0 0]

In [7]:
x=df["message"]

y

array([0, 0, 1, ..., 0, 0, 0], dtype=uint8)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
x.shape

(5572,)

In [9]:
feature_extraction =TfidfVectorizer(min_df=1,stop_words="english",lowercase=True)
x_t_f=feature_extraction.fit_transform(x_train)
x_te_f=feature_extraction.transform(x_test)


y_train=y_train.astype("int")
y_test=y_test.astype("int")

In [10]:
print(x_t_f)

  (0, 6566)	0.29071829686789585
  (0, 5260)	0.5087678982336444
  (0, 4010)	0.4050685955975014
  (0, 6073)	0.5665799184805557
  (0, 5169)	0.4141795823412651
  (1, 2116)	0.3523355719340784
  (1, 1423)	0.5940444343697558
  (1, 6859)	0.4124100686677272
  (1, 3141)	0.5940444343697558
  (2, 3565)	0.40508027557608417
  (2, 5897)	0.440107047813195
  (2, 4140)	0.440107047813195
  (2, 2845)	0.3382880530026162
  (2, 6332)	0.440107047813195
  (2, 2258)	0.3104925886287087
  (2, 3910)	0.20972094634778068
  (3, 2105)	0.17893490557083572
  (3, 7191)	0.2812743655569581
  (3, 1763)	0.2431679156261037
  (3, 6620)	0.2114722422733664
  (3, 6461)	0.2757210982911898
  (3, 7045)	0.20776132213481782
  (3, 4865)	0.26062868324883703
  (3, 2251)	0.2952674814882996
  (3, 5175)	0.3101007821209402
  :	:
  (4451, 4355)	0.5653315538937795
  (4452, 6856)	0.8442476281269602
  (4452, 4003)	0.5359533024452802
  (4453, 7234)	0.3927126429320925
  (4453, 4634)	0.3513960490954625
  (4453, 4498)	0.36145784624804855
  (4453, 3531)	0.343174962220219
  (4453, 6804)	0.343174962220219
  (4453, 2219)	0.22106589098767157
  (4453, 6140)	0.2989482528799608
  (4453, 1308)	0.28066536885213117
  (4453, 6604)	0.20345602154604067
  (4453, 3041)	0.18713644220806608
  (4453, 6514)	0.250359894393495
  (4454, 3438)	0.41832618559604146
  (4454, 4681)	0.5748166128556557
  (4454, 5726)	0.31680901774368153
  (4454, 2126)	0.46344991793045925
  (4454, 3108)	0.2995290335479616
  (4454, 4045)	0.2995290335479616
  (4455, 3416)	1.0
  (4456, 6508)	0.6008815846567301
  (4456, 5576)	0.6008815846567301
  (4456, 6492)	0.4171566994855619
  (4456, 3032)	0.3222777226479457

In [11]:
model=LogisticRegression()
model.fit(x_t_f,y_train)

LogisticRegression()

In [12]:
model.predict(x_te_f)

array([0, 0, 0, ..., 0, 0, 0])

In [13]:
inp=["congrats you won a lottery for free"]

inp_f= feature_extraction.transform(inp)

model.predict(inp_f)

array([1])

In [14]:
inp=["hey how are you "]

inp_f= feature_extraction.transform(inp)

model.predict(inp_f)

array([0])

In [15]:
import pickle

pickle.dump(model,open("spam_classifier.pkl","wb"))
pickle.dump(feature_extraction,open("spam_feature_extractor.pkl","wb"))

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

v=CountVectorizer()
dtm=v.fit_transform(df["message"]).toarray()

w_c=v.get_feature_names_out()

w_d=pd.DataFrame(dtm,columns=w_c)

print(w_c)
print(w_d)

['00' '000' '000pes' ... 'ûïharry' 'ûò' 'ûówell']
      00  000  000pes  008704050406  0089  0121  01223585236  01223585334  \
0      0    0       0             0     0     0            0            0
1      0    0       0             0     0     0            0            0
2      0    0       0             0     0     0            0            0
3      0    0       0             0     0     0            0            0
4      0    0       0             0     0     0            0            0
...   ..  ...     ...           ...   ...   ...          ...          ...
5567   0    0       0             0     0     0            0            0
5568   0    0       0             0     0     0            0            0
5569   0    0       0             0     0     0            0            0
5570   0    0       0             0     0     0            0            0
5571   0    0       0             0     0     0            0            0

      0125698789  02  ...  ó_  û_  û_thanks  ûªm  ûªt  ûªve  ûï  ûïharry  ûò  \
0              0   0  ...   0   0         0    0    0     0   0        0   0
1              0   0  ...   0   0         0    0    0     0   0        0   0
2              0   0  ...   0   0         0    0    0     0   0        0   0
3              0   0  ...   0   0         0    0    0     0   0        0   0
4              0   0  ...   0   0         0    0    0     0   0        0   0
...          ...  ..  ...  ..  ..       ...  ...  ...   ...  ..      ...  ..
5567           0   0  ...   0   0         0    0    0     0   0        0   0
5568           0   0  ...   0   0         0    0    0     0   0        0   0
5569           0   0  ...   0   0         0    0    0     0   0        0   0
5570           0   0  ...   0   0         0    0    0     0   0        0   0
5571           0   0  ...   0   0         0    0    0     0   0        0   0

      ûówell
0          0
1          0
2          0
3          0
4          0
...      ...
5567       0
5568       0
5569       0
5570       0
5571       0

[5572 rows x 8672 columns]

In [17]:
1+2

3

In [ ]:
import matplotlib.pyplot as plt
w_d.corr()

In [ ]:
1+2

In [ ]:
plt.imshow(w_d.corr(),cmap="coolwarm",interpolation='none')